{% extends 'base.html' %}
{% load static %}
{% block title %}Resetowanie hasła-mail wysłany{% endblock title %}

{% block header%}
<header class="header--form-page">
    <nav class="container container--70">
        {{ block.super }}
    </nav>
    <section class="login-page">
        <div class="about-us--text">
          <h2>Wpisz swoje nowe hasło</h2>
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group" style="font-size: large; text-align: left">
                {{ field.label }}: {{ field }} {{ field.errors }}
            </div>
            {% endfor %}
          <div class="form-group--buttons" style="text-align: right">
            <button type="submit" class="btn btn--without-border">Wyślij</button>
          </div>
        </form>
        </div>
    </section>
</header>
{% endblock header %}

