{% extends 'base.html' %}
{% load static %}
{% block title %}Resetowanie hasła-mail wysłany{% endblock title %}

{% block header%}
<header class="header--form-page">
    <nav class="container container--70">
        {{ block.super }}
    </nav>
    <section class="login-page">
        <div class="about-us--text">
          <h2>Ustawienie nowego hasła powiodło się</h2>
            <h1>Twoje nowe hasło zostało ustawione. Teraz możesz zalogować się na swoje konto.</h1>
            {{ form.as_p }}
            <a class="btn btn--without-border" href="{% url 'login' %}">Zaloguj się</a>
        </div>
    </section>
</header>
{% endblock header %}

