{% extends 'base.html' %}
{% load static %}
{% block title %}Resetowanie hasła-mail wysłany{% endblock title %}

{% block header%}
<header class="header--form-page">
    <nav class="container container--70">
        {{ block.super }}
    </nav>
    <section class="login-page">
        <div class="about-us--text">
          <h2> Wiadomość z instrukcjami została wysłana.</h2>
            <h1>Wiadomość z instrukcjami pozwalającymi ustalić nowe hasło została wysłana
                i powinna wkrótce pojawić się na Twoim koncie pocztowym.</h1>
        </div>
    </section>
</header>
{% endblock header %}

