{% extends 'base.html' %}
{% load static %}
{% block title %}Resetowanie hasła{% endblock title %}

{% block header%}
<header class="header--form-page">
    <nav class="container container--70">
        {{ block.super }}
    </nav>
    <section class="login-page">
        <div class="about-us--text">
          <h2> Zapomniałeś hasła?</h2>
            <h1>Wpisz swój adres email, a my wyślemy Ci instrukcje jak ustawić nowe hasło.</h1>
          <form method="post">
            {% csrf_token %}
            <div class="form-group" style="font-size: large; text-align: left">
                {{ form }}
                <button type="submit" class="btn btn--without-border">Wyślij</button>
            </div>
        </form>
        </div>
    </section>
</header>
{% endblock header %}

