{% extends 'base.html' %}
{% load static %}
{% block title %}Potwierdzenie{% endblock title %}

{% block header%}
<header class="header--form-page">
    <nav class="container container--70">
        {{ block.super }}
    </nav>
    <section class="login-page">
        <div class="about-us--text">
          <h2>Profil użytkownika {{ user.username.upper }}</h2>
          <p><strong>Imię: </strong>{{ user.first_name.title | default:'Brak danych!' }}</p>
          <p><strong>Nazwisko: </strong>{{ user.last_name.title | default:'Brak danych!' }}</p>
          <p><strong>Email: </strong>{{ user.email }}</p>
        </div>

        <div class="form-group form-group--buttons">
            <a href="{% url 'edit-user' %}" class="btn btn--without-border">Edytuj dane</a>
        </div>

        <div class="form-group form-group--buttons">
            <a href="{% url 'change-password' %}" class="btn btn--without-border">Zmień hasło</a>
        </div>
    </section>
</header>
{% endblock header %}

{% block content %}
<div>
    <div>
        <h2>Przekazane dary</h2>
        <table>
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Ilość worków</th>
                    <th>Kategoria</th>
                    <th>Data odbioru</th>
                    <th>Status</th>
                    <th>Aktualizacja</th>
                </tr>
            </thead>
            <tbody></tbody>
            {% for donation in user_donations %}
                {% if donation.is_taken %}
            <tr style="color: green">
                <td>{{ donation.institution }}</td>
                <td>{{ donation.quantity }}</td>
                <td>
                {% for category in donation.categories.all %}
                    {% if forloop.last %}
                    {{ category }}
                    {% else %}
                    {{ category }},
                    {% endif %}
                {% endfor %}
                </td>
                <td>{{ donation.pick_up_date }}</td>
                <td>ODEBRANE</td>
                <td>{{ donation.taken_time }}</td>
                <td><form action="/add-to-archive/{{ donation.pk }}/" method="POST">{% csrf_token %}
                    <input type="submit"
                           name="cancel_picked_up_confirmation"
                           value="Anuluj potwierdzenie">
                </form></td>
            </tr>
                {% endif %}
                {% if not donation.is_taken %}
                    <tr>
                <td>{{ donation.institution }}</td>
                <td>{{ donation.quantity }}</td>
                <td>
                {% for category in donation.categories.all %}
                    {% if forloop.last %}
                    {{ category }}
                    {% else %}
                    {{ category }},
                    {% endif %}
                {% endfor %}
                </td>
                <td>{{ donation.pick_up_date }}</td>
                <td>NIEODEBRANE</td>
                <td>{{ donation.taken_time|default:"Oczekuje na potwierdzenie" }}</td>
                <td><form action="/add-to-archive/{{ donation.pk }}/" method="POST">{% csrf_token %}
                    <input type="submit"
                           name="picked_up_confirm"
                           value="Potwierdź odbiór">
                </form></td>
            </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}